--extra-index-url https://download.pytorch.org/whl/cu113
torch
torch-fidelity
scipy
importlib_resources
torchaudio
torchvision
tqdm
omegaconf
einops
numpy<=1.23.5
soundfile
librosa==0.9.2
pandas
torchlibrosa
transformers
ftfy
pytorch-lightning
torchmetrics
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
boto3
fastapi
pydantic
uvicorn